{%extends "homepage.html"%}
{%block content%}
<style>
    #g{
        /*background-image:url("media/Images/hhh.1.jpg") ;*/
        background-image: url("media/Images/back.jpg");
        /*background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);*/
        /*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
        /*background-attachment: fixed;*/
        /*width: 100%;
        height: 100%
        ;
        background-size: cover;*/
        
    }
    /**{
        margin: 0px;
        padding: 0;
        font-family: sans-serif;
    }*/
    .form{
        width: 300px;
        height: 420px;
        color:aliceblue;
        background: linear-gradient(to bottom, #161515 100%,black 20% );
        /*position: absolute;*/
        /*justify-content: center;
        align-items: center;*/
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 10px;
        padding: 40px 25px;
        

    }
    .form h1{
        width: 100px;
        text-align: center;
        /*padding-left: 11px;*/
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 25px;
        color:aqua
    }
    .form input{
        width: 100%;
        height: 35px;
        padding-top: 10px;
        margin-bottom: 15px;
        background: transparent;
        border-bottom: 1px solid thistle;
        border-top: none;
        border-left: none;
        border-right: none;
        color: whitesmoke;
        font-size: 15px;
        letter-spacing: 1px;
        outline: none;
    }
    .form input:focus{
        outline: none;
    }
    ::placeholder{
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
    }
    .btnn{
        font-size: 18px;
        padding: 10px 15px;
        background: transparent;
        border: none;
        margin-top: 10px;
        margin-left: 80px;
        cursor: pointer;

    }
    .btnn{
        text-decoration: none;
        color:aqua;
        font-weight: bold;
    }
    .btnn:hover{
      transform: scale(1.10);
      color: rgb(9, 246, 116);
  }


    .btnn a:hover{
        color: aqua;
    } 
    </style>

    <div id="g">
    <form method="post">
        {%csrf_token%}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="form">
            {%for message in messages%}
            <div class="alert alert-danger alert-dismissible" style="text-align: center;"><strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {%endfor%}
            <h1>LOGIN HERE</h1>
            <input type="text" name="gname" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" class="btnn">LOGIN</button>
            <center><p class="link">Don't have an account</center>
                <center><a href="/signup" id="s" >Sign Up</a></center>
            </p>
        </div>   
    </form>
{%endblock%}
